body
  background-color: #0053b0
  min-width: 320px
.main
  margin-bottom: 40px
a
  color: #fff
  &:hover
    color: #99d3f8

header
  font-family: 'Roboto', sans-serif
  background-color: #fff
  text-align: center
  border-bottom: 5px solid #498bcc
  padding: 35px 0
  transition: border-bottom-width .5s, height .5s, padding .5s
  h1
    display: inline-block
    padding-left: 20px
    margin: 30px 0 0 0
    vertical-align: top
    color: #222
    transition: padding .5s, margin .5s, font-size .5s
  .logo
    text-decoration: none
    &:hover
      text-decoration: none
    span.logo
      width: 20*5px
      height: 20*4px
      position: relative
      display: inline-block
      transition: height .5s, width .5s
    .cube
      width: 20%
      height: 25%
      position: absolute
      background-color: #015f9b
      display: block
    .cube2, .cube4, .cube6, .cube7, .cube9
      background-color: #2ea0e9
    .cube1
      top: 0
      left: 0
    .cube2
      top: 25%
      left: 0
    .cube3
      top: 50%
      left: 0
    .cube4
      top: 75%
      left: 20%
    .cube5
      top: 50%
      left: 40%
    .cube6
      top: 25%
      left: 40%

    .cube7
      top: 75%
      left: 60%
    
    .cube8
      top: 50%
      left: 80%
    .cube9
      top: 25%
      left: 80%
    .cube10
      top: 0
      left: 80%
  
.game header
  padding: 5px 10px
  border-bottom-width: 2px
  h1
    font-size: 14px
    margin-top: 7px
    padding-left: 7px
  span.logo
    width: 7*5px
    height: 7*4px
.landing
  text-align: center
  p
    margin: 70px 0
    color: #c1ffff
    span
      color: #fff
      font-weight: bold
      font-size: 20px

.start, .start-party, .game-room .join-room
  font-family: 'Press Start 2P', cursive
  display: inline-block
  background-color: #ccddef
  padding: 15px 30px
  color: #222
  border: 0
  &:hover
    text-decoration: none
    background-color: #fff

.auth
  margin-top: 20px
  padding: 0 20%
  color: #fff

  input
    font-family: 'Press Start 2P', cursive
    display: block
    background-color: #fff
    border: 2px solid #222
    padding: 3%
    width: 100%
  button, .twit-auth
    font-family: 'Press Start 2P', cursive
    display: inline-block
    background-color: #ccddef
    padding: 5px 15px
    color: #222
    border: 0
    &:hover
      text-decoration: none
      color: #000
      background-color: #fff
  .twit-auth
    width: 100%
    padding: 3%
    text-align: center
  .or
    text-align: center
    position: relative
    border-bottom: 1px solid #498bcc
    margin: 40px 0
    span
      position: absolute
      width: 10%
      margin-left: -5%
      left: 50%
      top: -10px
      background-color: #0053b0
  .text-right
    text-align: right
#go_to_login, #go_to_register
  padding-right: 20px


// this is on the home page...
.game-room-list
  text-align: left
  margin: 60px 10% 0 10%
  h4
    border-bottom: 1px solid #498bcc
    color: #fff
  ul
    list-style: none
    margin: 0
    padding: 0

// room.html
.game-room
  margin: 60px 10% 0 10%
  h2, h3
    color: #fff
  a
    cursor: pointer

.players, #game_finished
  ul
    color: #fff
    border-top: 1px solid #498bcc
    border-bottom: 1px solid #498bcc
  li
    padding: 5px 0

.join
  text-align: center
  color: #fff

.countdown
  div
    text-align: center
    width: 100%
    background-color: #ccddef
    border-radius: 5px 5px 5px 5px
    padding: 10px
  h2
    color: #222
  h3
    color: #0053b0
    font-family: 'Press Start 2P', cursive    

#game
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: #0053b0
  min-width: 320px
  padding: 10%

#game_finished
  margin-bottom: 40px
  h3
    font-size: 14px
  p
    color: #c1ffff
  .score
    float: right
  li
    padding: 5px 10px

.highnumber
  text-align: center
  button
    margin: 0 10px

#game_timer
  text-align: center
  width: 50%
  margin-left: -25%
  position: absolute
  bottom: 0
  background-color: rgba(255,255,255,.8)
  left: 50%
  padding: 5px 15px
