body
  background-color: #0053b0

header
  font-family: 'Roboto', sans-serif
  background-color: #fff
  text-align: center
  border-bottom: 5px solid #498bcc
  h1
    line-height: 150px
  

.landing
  text-align: center

.start
  font-family: 'Press Start 2P', cursive