body
  background-color: #0053b0

header
  font-family: 'Roboto', sans-serif
  background-color: #fff
  text-align: center
  border-bottom: 5px solid #498bcc
  h1
    line-height: 150px
  

.landing
  text-align: center
  p
    margin: 70px 0
    color: #c1ffff
    span
      color: #fff
      font-weight: bold
      font-size: 20px

.start
  display: inline-block
  background-color: #fff
  padding: 15px 30px
  color: #222
  font-family: 'Press Start 2P', cursive