<template name="game">
  {{#unless playerFinished}}
    <div id='game'>
      {{#constant}}<div class="game-container"></div>{{/constant}}
    </div>
  {{else}}
    <div id='game_finished'>
      {{#if gameFinished}}
        <h3>Results</h3>
        <ul class="list-unstyled">
          {{#each resultsList}}
          <li>{{user.displayName}} - {{value}}</li>
          {{/each}}
        </ul>
      {{else}}
        <h3>Done!</h3>
        <p>Waiting for other players</p>
      {{/if}}
    </div>
  {{/unless}}
</template>