<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WiBlits</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>
  <header>
    <a class='logo' href='/'>
      <span class='logo'>
        <span class='cube cube1'></span>
        <span class='cube cube2'></span>
        <span class='cube cube3'></span>
        <span class='cube cube4'></span>
        <span class='cube cube5'></span>
        <span class='cube cube6'></span>
        <span class='cube cube7'></span>
        <span class='cube cube8'></span>
        <span class='cube cube9'></span>
        <span class='cube cube10'></span>
      </span>
      <h1>WIBLITS</h1>
    </a>
  </header>

  <div class='main'>
    {{> root}}
  </div>

  <!-- start Mixpanel -->
  <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("d2b068f7561c0dbee162c59d13c25465");</script>
  <!-- end Mixpanel -->
</body>

<template name="root">
  <div class="container outer-container" id="outer-container">
    <div class="page-container" id="page-container">
      {{renderPage}}
    </div>
  </div>
</template>

<template name="page">
  {{#if error}}
    <div class="alert alert-error">{{error}}</div>
  {{/if}}
  
  {{#if showRoom}}
    {{> room}}
  {{else}}
    {{#if currentUser}}
      {{> logout}}
      {{> start}}
    {{else}}
      {{> signup}}
    {{/if}}
  {{/if}}
</template>

<template name="loading">
  <div>Loading...</div>
</template>

<template name="not_found">
not found.
</template>
