<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WiBlits</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>
  <header class='container'>
    <a class='logo' href='/'>
      <span class='cube cube1'></span>
      <span class='cube cube2'></span>
      <span class='cube cube3'></span>
      <span class='cube cube4'></span>
      <span class='cube cube5'></span>
      <span class='cube cube6'></span>
      <span class='cube cube7'></span>
      <span class='cube cube8'></span>
      <span class='cube cube9'></span>
      <span class='cube cube10'></span>
    </a>
    <h1>WIBLITS</h1>
  </header>

  <div class='main'>
    {{> root}}
  </div>
</body>

<template name="root">
  <div class="container outer-container" id="outer-container">
    <div class="page-container" id="page-container">
      {{renderPage}}
    </div>
  </div>
</template>

<template name="page">
  {{#if error}}
    <div class="alert alert-error">{{error}}</div>
  {{/if}}
  
  {{#if showRoom}}
    {{> room}}
  {{else}}
    {{#if currentUser}}
      {{> logout}}
      {{> start}}
    {{else}}
      {{> signup}}
    {{/if}}
  {{/if}}
</template>

<template name="loading">
  <div>Loading...</div>
</template>

<template name="not_found">
not found.
</template>
