<template name="signup">
  <div class='auth'>
    <h4>Log In</h4>

    <a href='#' class='twit-auth' id="login_twitter">Login with Twitter <i class='fa fa-twitter'></i></a>
    
    <div class='or'><span>OR</span></div>
    
    <form role="form" id="login_form">
      <div class="form-group">
        <label for="login_email">Email address</label>
        <input type="email" id="login_email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="login_password">Password</label>
        <input type="password" id="login_password" placeholder="Password">
      </div>

      <div class='text-right'>
        <a href='#' id='go_to_register'>Register</a>
        <button type="submit">Log In</button>
      </div>
    </form>
  </div>
</template>

<template name="logout">
  {{#if loggingIn}}
    <a>Logging in...</a>
  {{else}}
    <ul>
      <li>
        <img class="img-rounded" style="height: 32px; margin-top: 4px;" src="{{currentUser.profile.avatar_url}}" />
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{currentUser.profile.name}}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a>Account Settings</a></li>
          <li class="divider"></li>
          <li><a id="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  {{/if}}
</template>

<template name="register">
  <div class='auth'>
    <h4>Create an Account</h4>
    
    <a href='#' class='twit-auth' id="register_twitter">Register with Twitter <i class='fa fa-twitter'></i></a>
    
    <div class='or'><span>OR</span></div>

    <form id="register-form" role="form">
      <div class="form-group">
        <label for="account_email">Email address</label>
        <input type="email" id="account_email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="account_password">Password</label>
        <input type="password" id="account_password" placeholder="Password">
      </div>

      <div class='text-right'>
        <a href='#' id='go_to_login'>Log In</a>
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</template>