<template name="waiting_room">
  {{#if isOwner}}
    <h2>
      Your Game Room
      {{#if isOwner}}
        {{#if room.public}}
          <a class="btn btn-default btn-xs make-private">Make private</a>
        {{else}}
          <a class="btn btn-default btn-xs make-public">Make public</a>
        {{/if}}
      {{/if}}
    </h2>
  {{else}}
    <h2>Game Room</h2>
  {{/if}}
  
  {{#if gameFinished}}
  <div id='game_finished'>
    <h3>Results</h3>
    <ul class="list-unstyled">
      {{#each resultsList}}
      <li>{{displayName}} - {{value}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  <div class='players'>
    <h3>Players</h3>
    <ul class="list-unstyled">
      {{#each players}}
        <li>{{displayName}}</li>
      {{/each}}
    </ul>
  </div>

  <div class='join'>
    {{#if hasJoined}}
      You are in the Game, it will start in a bit.
    {{else}}
      <button class="join-room">Join Game</button>
    {{/if}}
  </div>
</template>